.shedule {
    text-align: center;
    h2 {
        background: $darker-red;
        color: $silver;
        font-family: $headers-font;
        font-weight: 100;
        font-size: 3em;
        text-align: center;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em
    }
}

.shedule__calendar {
    text-align: center;
    a {
        display: inline-block;
        width: 25%;
        padding: 15px 0px;;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
        background: $darker-red;
        color: $silver;
        font-family: $headers-font;
        font-size: 2.4em;
        font-weight: 100;
        text-decoration: underline;

        &:hover {
            background: #3c1717;
        }
    }
}

.shedule__container {
    text-align: left;
    overflow: hidden;
    position: relative;
    background: $main-red;

    svg {
        width: 50px;
    }
    button {
        @include delete-border;
        padding: 15px;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 50px);
        background: $darker-red;
        opacity: 0.5;
        z-index: 1001;

        &:first-child {
            left: 20px;
            transform: scaleX(-1);
        }

        &:last-child {
            right: 20px;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.shedule__movies {
    position: relative;
    list-style: none;
    padding: 0px;
    @include flex-center(row, true);
    justify-content: flex-start;
    align-items: stretch;
    transition: right 0.3s linear;

    &--no_movies {
        height: 250px;
        @include flex-center(row);
        h2 {
            background: none;
        }
        .loading_gif {
            width: 150px;
        }
    }

}
.shedule {
    
.movies__movie {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 30px 30px;
    padding-right: 30px;
    border-right: 10px solid #790303;
    h3 {
        font-family: $content-font;
        font-weight: 600;
        color: $silver;
        font-size: 2.2em;
        text-align: right;
    }
    &:last-child {
        border-right: none;
    }
}

.movie__all_times {
    text-align: right;
    margin-top: auto;
    a {
        padding: 0px 10px;
        border-radius: 0.5em;
        text-decoration: none;
        font-weight: 100;
        font-family: $content-font;
        font-size: 2em;
        color: black;
        background: $darker-silver;
    }
}
.movie__details {
    display: flex;
    img {
        width: 250px;
    }
}
.movie__screenings {
    text-align: center;
    margin-left: 20px;
    p {
        font-family: $content-font;
        font-weight: 400;
        font-size: 1.3em;
        color: $silver;
    }
}

.screenings__day {
    margin-bottom: 10px;
    h4 {
        font-family: $content-font;
        color: $silver;
        font-weight: 600;
        font-size: 1.5em;
    }
    ul {
        padding: 0;
        width: 150px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li {
        margin: 5px 0px;
        font-family: $content-font;
        font-weight: 100;
        font-size: 1.3em;
        width: 65px;
        background: $darker-silver;
        border-radius: 0.5em;
    }
}
}

.shedule_slider_info {
    text-align: center;
    background: $darker-red;
    border-radius: 50px;
    margin: 5px 0px;
    svg {
        fill: $darker-silver;
        transform: rotate(90deg);
        width: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .shedule {
        .movie__image img {
            width: 200px;
        }
        .movies__movie {
            margin: 20px 0px 20px 20px;
            padding-right: 15px;
            h3 {
                font-size: 2em;
            }
        }
        .movie__screenings {
            margin-left: 5px;
        }
        .movie__all_times {
            margin-right: 10px;
            a {
                font-size: 1.6em;
            }
        }
    }  
}
@media only screen and (max-width: 600px) {
    .shedule {
        h2 {
            font-size: 2.5em;
        }
    } 
    .shedule__container {
        button {
            display: none;
        }
        .movie__image {
            display: flex;
            align-items: center;
            img {
                width: 40vw;
            }
        } 
        .movies__movie {
            margin: 0px;
            border: 0px;
            padding: 10px;
            box-sizing: border-box;
            width: 100vw;
            h3 {
                text-align: center;
                font-size: 2em;
            }
        }
        .movie__details {
            justify-content: space-around;
        }
        .movie__all_times {
            text-align: center;
            margin-top: 10px;
        }
        
    }
    .shedule__calendar {
        a {
            font-size: 1.4em;
            width: 60%;
            padding: 10px 0px;
        }
    }
}
@media only screen and (max-width: 400px) {
    .shedule {
        .movies__movie {
            h3 {
                font-size: 1.5em;
            }
        }
        .screenings__day {
            h4 {
                font-size: 1.2em;
            }
            ul {
                width: 130px;
            }
            li {
                margin: 3px 0px;
                font-size: 1.1em;
                width: 50px;
            }
        }
    }
}