@import './home/home.scss';
@import './calendar/calendar.scss';
@import './movie/movie.scss';
@import './tickets/tickets.scss';
@import './account/account.scss';
@import './news/news.scss';


.main_section_header {
    background: $darker-red;
    color: $silver;
    font-family: $headers-font;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.ticket {
    @include flex-center(column);
    margin-top: 80px;

    @media (max-width: $phone) {
        margin-top: 30px;
    }

    h1 {
        font-family: $headers-font;
        color: $silver;
        font-size: 3.3em;
        font-weight: 100;
        margin-bottom: 55px;
        text-align: center;

        @media (max-width: $phone-small) {
            font-size: 2.8em;
        }
    }

    h2 {
        font-family: $headers-font;
        color: $silver;
        font-size: 2em;
        font-weight: 100;
        width: 100px;
        padding: 8px 0px;
        background-color: $main-red;
        text-align: center;
        width: 270px;

        @media (max-width: $tablet) {
            width: 225px;
        }
        @media (max-width: $phone) {
            width: 250px;
        }
        @media (max-width: $phone-small) {
            font-size: 1.8em;
        }
    }

    h3 {
        font-family: $headers-font;
        color: $silver;
        background: $main-red;
        font-size: 1.7em;
        font-weight: 100;
        padding: 10px 35px;
        margin-top: 90px;

        @media (max-width: $phone-small) {
            padding: 10px 8px;
        }
        
    }

    p {
        font-family: $content-font;
    }

    .loading_gif {
        max-width: 400px;
        margin-bottom: 300px;
    }

    .tickets__error {
        text-align: center;
        margin-bottom: 40px;
    }

    &__description {
        text-align: center;
        color: $silver;
        font-size: 2.3em;
        margin-bottom: 30px;
        &--link {
            color: $darker-silver;
        }

        @media (max-width: $phone) {
            font-size: 1.8em;
        }
    }

    &__info {
        @include flex-center(row);
        justify-content: space-between;
        align-items: flex-start;
        width: 60%;
        background: #28333c;
        padding: 40px;
        max-width: 750px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

        @media (max-width: $tablet) {
            width: 80%;
        }
        @media (max-width: 800px) {
            padding: 40px 20px;
            box-sizing: border-box;
            width: 100%;
        }
        @media (max-width: $phone) {
            @include flex-center(column);
        }
    }

    &__show {
        p {
            font-size: 1.8em;
            color: white;
            margin: 5px 0px;

            @media (max-width: $phone-small) {
                font-size: 1.6em;
            }
        }

        @media (max-width: $phone) {
            margin-bottom: 40px;
        }
    }

    &__tickets {
        @include flex-center(column);
        ul {
            margin-top: 10px;
            padding: 0px;
            list-style: none;
        }

        li {
            @include flex-center(row);
            justify-content: space-between;
            font-size: 1.3em;
            font-weight: 600;
            width: 270px;
            padding: 3px 9px;
            margin: 7px 0px;
            background: $darker-silver;
            color: black;

            @media (max-width: $tablet) {
                width: 235px;
                font-size: 1.2em;
            }
        }
    }

    &__total {
        font-size: 1.3em;
        font-weight: 600;
        width: 120px;
        background: $darker-silver;
        align-self: flex-end;
        text-align: center;
    }

    &__options {
        @include flex-center(row);
        margin: 10px 0px 350px;

        @media (max-width: $phone) {
            flex-direction: column;
            margin-bottom: 250px;
        }

        &--accepted {
            margin-bottom: 500px;

            @media (max-width: $phone) {
                margin-bottom: 250px;
            }
        }
    }

    &__back, &__continue, &__disabled {
        @include flex-center(row);
        @include delete-border;
        font-family: $content-font;
        font-size: 1.4em;
        color: $silver;
        width: 300px;
        height: 50px;
        margin: 10px 40px;
        border-radius: 50px;

        @media (max-width: $phone) {
            margin: 10px 0px;
            font-size: 1.4em;
            width: 260px;
        }

        @media (max-width: $phone-small) {
            width: 220px;
            font-size: 1.2em;
        }
    }

    &__back {
        background: #511616;

        &:hover {
            background: #330d0d;
        }
    }

    &__continue {
        cursor: pointer;
        background: #1E9739;

        &:hover {
            background: #137028;
        }
    }

    &__disabled {
        background: #535353;
    }
}

.user_details {
    @include flex-center(column);
    h3 {
        font-family: "Lato", sans-serif;
        color: #CDCDCD;
        background: #942121;
        font-size: 1.7em;
        font-weight: 100;
        padding: 10px 35px;
        margin-top: 90px;
        margin-bottom: 20px;


        @media (max-width: $phone-small) {
            padding: 10px 25px;
        }
    }

    label {
        color: $silver;
        font-family: $content-font;
        font-size: 1.8em;
        @media (max-width: $phone) {
            font-size: 1.4em;
        }
    }

    input {
        @include delete-border;
        background: #ececec;
        font-size: 1.6em;
        width: 75%;
        padding: 5px;

        &:last-child {
            width: 45% !important;
            text-align: center;
        }
        @media (max-width: $phone) {
            font-size: 1.3em;
        }
        @media (max-width: $phone-small) {
            font-size: 1.2em;
        }
    }
}

@media only screen and (max-width: 600px) {
.main_section_header {
    font-size: 2.5em;
    }
}
@media only screen and (max-width: 400px) {
    .main_section_header {
        font-size: 2.2em;
    }
}