.top {
    @include flex-center(row);
    justify-content: space-between;
    align-items: unset;
}
.nav {
    @include flex-center(row);
    height: 100%;
    background: $main-red;
    border-bottom-left-radius: 2em;
    ul {
        @include flex-center(row);
        justify-content: space-around;
        list-style: none;
        padding: 0.8em;
    }
    a {
        color: $silver;
        text-decoration: none;
        font-size: 1.5em;
        padding: 0.8em;
        display: block;
        font-family: $content-font;

        &:hover {
            text-decoration: underline;
        }
    }
}
.user-menu {
    @include flex-center(row);
    margin-left: 40px;
    font-size: 1em;

    ul {
        @include flex-center(column);
        padding-left: 10px;
    }
    a {
        color: black;
        font-size: 1.3em;
        padding: 0;
    }
    svg {
        width: 40px;
    }
}

.top__button {
    background: $main-red;
    padding: 25px;
    border-bottom-right-radius: 70px;
    width: 10%;
    text-align: center;
    svg {
        width: 50px;
        fill: $silver;
    }

    &--right {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 70px;
    }
}



@media only screen and (max-width: 1024px) {
    .top {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 720px) {
    .top__button {
        border-bottom-right-radius: 50px;
        svg {
            width: 40px;
            fill: $silver;
        }
        &--right {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 50px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .top {
        img {
            width: 150px;
        }
    }
    .top__button {
        border-bottom-right-radius: 40px;
        svg {
            width: 35px;
            fill: $silver;
        }
        &--right {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 40px;
        }
    }
}