.news {
    @include flex-center(column);
    align-items: unset;
    margin-bottom: 100px;

    @media (max-width: $phone) {
        align-items: center;
    }

    h1 {
        font-family: $headers-font;
        color: $silver;
        font-size: 3.7em;
        font-weight: 100;
        margin-top: 30px;
        margin-bottom: 55px;
        text-align: center;
        background-color: $main-red;
        width: 60%;
        align-self: center;

        @media (max-width: $phone) {
            font-size: 3em;
        }

        @media (max-width: $phone-small) {
            font-size: 2.5em;
            margin-bottom: 35px;
        }
    }

    ul {
        @media (max-width: $phone) {
            padding: 0px;
        }
    }

    ul {
        width: 85%;
    }
    .news__article {
        @media(max-width: $tablet) {
            margin-left: 0px;
            margin-right: 0px;
        }
        .article__image {
            min-width: 325px;
            img {
                max-height: 200px !important;
            }

            @media(max-width: $tablet) {
                min-width: 225px;
            }
        }

        .article__content {
            @media (max-width: $phone) {
                margin: 0px !important;
            }
        }
    }
    
    .button {
        align-self: center;
        margin-top: 30px;
    }
}
