@import './schedule/schedule.scss';
@import './highlight/highlight.scss';
@import './news/news.scss';
@import './info/informations.scss';
@import './upcoming/upcoming.scss';

.news_and_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}