{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    {% block head %}
    {% endblock %}
    {% include 'fonts.html' %}
    <title>Rotcet Cinema</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>