{% extends "user_form.html" %}

{% block form %}
{{ form.non_field_errors }}

{{ form.source.errors }}
{{ form.source }}
<form method="post" action="{% url 'user:register' %}">
        {% csrf_token %}
        {{ form.email.errors }}
        {{ form.email }}

        {{ form.password.errors }}
        {{ form.password }}

        {{ form.password_confirmation.errors }}
        {{ form.password_confirmation }}

        <button type='submit' value="Submit">Register</button>
</form>
<a href='{% url 'user:login' %}'>Login</a>
{% endblock %}
