.upcoming__movies {
    @include flex-center(row);
    align-items: stretch;
    flex-wrap: wrap;
}
.upcoming__movie {
    margin: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        width: 250px;
        margin-bottom: 25px;
    }
    p {
        max-width: 250px;
        font-family: $content-font;
        font-size: 1.6em;
        font-weight: 100;
        color: white;
    }
}

@media only screen and (max-width: 1024px) {
    .upcoming__movie {
        img {
            width: 170px;
            margin-bottom: 20px;
        }
    }
    p {
        font-size: 1.4em;
    }
}