.movie {
    margin-top: 50px;

    .loading_gif {
        max-height: 40vw;
        max-width: 400px;
    }
}
.movie__details {
    display: flex;
    font-family: $content-font;
    margin: 0vw 10vw;
    img {
        width: 450px;
        object-fit: contain;
    }
    h1 {
        font-weight: 600;
        font-size: 3em;
        color: $silver;
        margin: 20px;
    }
}

.movie__description {
    text-align: center;
    margin-left: 20px;
    width: 100%;
    @include flex-center(column);
    justify-content: space-between;

    .description__info {
        width: 80%;
        .description {
            color: white;

            &--short {
                font-size: 1.3em;
            }
            &--long {
                font-size: 1.1em;
            }
        }
    }

    .description__tickets {
        margin-top: 60px;
        color: $silver;
        h3 {
            font-size: 2em;
            margin: 10px;
        }
        button {
            font-size: 1.7em; 
            cursor: pointer;
        }
    }
}
.movie__images {
    margin-top: 100px;
    background: $darker-red;
    padding: 20px 0px;
    img {
        cursor: pointer;
        object-fit: cover;
        max-height: 200px;
        width: 300px;
        margin: 0px 15px;
    }
}
.movie__slider {
    background: $darker-red;
    button {
        background: $main-red;
        opacity: 0.7;
    }
}
.movie__list {
    align-items: center
}
.movie__slider-info {
    background: $main-red;
}
.movie__trailers {
    margin-top: 50px;
    li, .movie__primary_trailer {
        position: relative;
    }
    .youtube-button {
        position: absolute;
        top: 50%;
        margin-top: -42px;
        right: 50%;
        margin-right: -42px;
        width: 85px;
        fill: rgba($color: #191919, $alpha: 0.85) !important;
        cursor: pointer;

        &:hover {
                fill: red !important;
        }
    }
}

.movie__primary_trailer {
    height: 394px;
    text-align: center;
    img {
        width: 700px;
        cursor: pointer;
    }
    img:hover + .youtube-button {
        fill: red !important;
    }
    .youtube-thumbnail {
        display: inline-block;
        position: relative;
    }
    iframe {
        justify-self: center;
    }
}
.movie__trailers-list {
    @include flex-center(row);
    flex-wrap: wrap;
    margin-top: 60px;
    list-style: none;
    padding: 0px;
    margin: 0px 10%;
    img {
        width: 400px;
        cursor: pointer;
    }
    li {
        margin: 15px;
        &:hover {
            .youtube-button {
                fill: red !important;
            }
        }
    }
}

.movie__tickets {
    margin: 60px 0px;
    text-align: center;
    font-family: $content-font;

    h2 {
        margin-bottom: 30px;
    }

    .button {
        font-size: 1.7em;
        padding: 0px 70px;
    }

    ul {
        list-style: none;
        padding: 0px;
    }
}
.tickets {
    &__list {
        margin-top: 30px;
        @include flex-center(column)
    }
    &__date {
        display: flex;
        margin: 10px 0px;
    }
    &__day-info {
        width: 180px;
        @include flex-center(column);
        background: $darker-silver;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;

        h4 {
            font-size: 1.8em;
            font-weight: 600;
            margin: -10px;
        }
    }
    &__hours {
        @include flex-center(row);
        background: $darker-red;
        li {
            @include flex-center(column);
            width: 70px;
            height: 40px;
            margin: 10px;
            background: $darker-silver;
            font-size: 1.3em;
        }
        a {
            @include flex-center(column);
            width: 100%;
            height: 100%;
            color: black;
        }
        &--blank{
            background: #424242 !important;
            
            a {
                cursor: default;
            }
        }
    }
    &__button {
        background: $darker-red !important;
        font-weight: 400 !important;

        &:hover {
            background: $main-red !important;
        }
    }
}


.gallery {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 2560px;
    z-index: 10010;
    @include flex-center(column);
    justify-content: space-between;
    align-items: unset;
    background: rgba($color: $main-red, $alpha: 0.85);
}
.gallery__main-image {
    @include flex-center(column);
    height: 50%;
    margin-bottom: 20px;
    img {
        max-width: 90%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: fill;
    }
}

@media only screen and (min-width: 1921px) {
    .movie .movie__description {
        width: 1200px;
    }
}

@media only screen and (max-width: 1150px) {
    .movie__details {
        margin: 0px 2vw;

        img {
            width: 350px;
        }

        h1 {
            font-size: 2.7em !important;
        }

        p {
            font-size: 1.2em !important;
        }

        .button {
            font-size: 1.5em !important;
            padding: 0px 30px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .movie__details {
        margin: 0px 1vw;

        h1 {
            font-size: 2.2em !important;
        }

        p {
            font-size: 1em !important;
        }
    }
    .description__tickets h3 {
        font-size: 1.8em !important;
    }
    .tickets__day-info {
        width: 125px;
        h4 {
            font-size: 1.4em;
        }
        p {
            font-size: 1.1em;
        }
    }
    .tickets__hours {
        li {
            width: 55px;
            height: 32px;
            margin: 7px;
        }
    } 
}

@media only screen and (max-width: 700px) {
    .movie {
        margin-top: 0px;
    }
    .movie__details {
        @include flex-center(column);

        img {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 2.5em !important;
        }

        p {
            font-size: 1.1em !important;
        }
    }
    .description__tickets {
        margin-top: 30px !important;
    }
    .youtube-thumbnail {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .movie__trailers-list img {
        width: 45vw;
    }
    .movie__primary_trailer {
        min-height: 60vw;
        height: auto;

        iframe {
            width: 100%;
            height: auto;
            min-height: 250px;
        }
    }
    .movie__list {
        height: 150px;
        img {
            max-height: 120px;
        }
    }
    .movie__description {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .movie__list {
        li {
            width: 50vw;
            @include flex-center(row);
            img {
                width: 90%;
            }
        }
    }
    .tickets__day-info {
        width: 20vw;
        h4 {
            font-size: 3.5vw;
            margin: -4px;
        }
        p {
            font-size: 2.2vw;
        }
    }
    .tickets__hours li {
        width: 9vw;
        height: 5vw;
        margin: 1vw;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 400px) {
    .movie__details {
        img {
            width: 100vw;
            max-height: 100vw;
        }
    }
    .movie__list {
        height: 120px;
        img {
            max-height: 120px;
        }
    }
}