.tickets {
    text-align: center;
    .loading-gif {
        width: 30%;
    }
    canvas {
        background: rgba(49, 49, 49, 0.65);
    }
}
.seats_manager {
    @include flex-center(column);
    h2 {
        margin-top: 20px;
        font-family: $headers-font;
        font-size: 1.2em;
        background: $main-red;
        border-radius: 30px;
        color: $silver;
        padding: 5px 20%;
    }
    ul {
        @include flex-center(row);
        flex-wrap: wrap;
        margin: 10px 10%;
        padding: 0px;
        list-style: none;
    }
    li {
        @include flex-center(row);
        background: $silver;
        font-family: $content-font;
        font-size: 1.2em;
        width: 30px;
        height: 30px;
        margin: 5px;

        &:last-child {
            background: #008000;
            color: white;
            font-weight: 400;
        }
    }
}
.seats_selection {
    position: fixed;
    @include flex-center(column);
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba($color: #565582, $alpha: 0.6);

    form {
        @include flex-center(column);
    }

    .disabled {
        background: #7b5555;
        &:active, &:hover {
            background: #7b5555;
        }
    }
}

@media only screen and (max-width: 600px) {
    canvas {
        width: 100% !important;
    }
}