@import 'variables';
@import 'mixins';
@import '../utilities/utilities.scss';
@import '../components/top/top.scss';
@import '../components/main/main.scss';
@import '../components/footer/footer.scss';

body{
    background: #151d23;
}
*{
    margin: 0px;
}
a {
    text-decoration: none
}

.header {
    font-family: $headers-font;
    font-weight: 400;
    color: $silver;
    background: $main-red;
    width: 100%;
    text-align: center;

    &--big {
        text-transform: uppercase;
        margin: 30px 0px;
        padding: 10px 0px;
        font-size: 3em;
    }
    &--medium {
        margin: 20px 0px;
        padding: 7px 0px;
        font-size: 2.3em;
    }
}
.button {
    @include delete-border;
    padding: 0px 50px;
    background: $main-red;
    font-family: $content-font;
    font-weight: 100;
    font-size: 2em;
    color: white;
    border-radius: 40px;

    &:hover {
        background: $darker-red;
    }
}
.shadow {
    &-big {
        box-shadow: 0px 14px 10px 0px rgba(0,0,0,0.5);
    }
    &-medium {
        box-shadow: 0px 9px 7px 0px rgba(0,0,0,0.5);
    }
    &-small {
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5);
    }
    &-tiny {
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    }
}

@media only screen and (min-width: 2560px) {
    body {
        background: #273642;
        display: flex;
        justify-content: center
    }
    .App {
        width: 2560px;
        box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.5);
        background: #151d23;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        &--big {
            margin: 20px 0px;
            padding: 7px 0px;
            font-size: 2.6em;
        }
        &--medium {
            margin: 15px 0px;
            padding: 5px 0px;
            font-size: 2em;
        }
    }
}
@media only screen and (max-width: 600px) {
    .header {
        &--big {
            margin: 15px 0px;
            padding: 6px 0px;
            font-size: 2.4em;
        }
        &--medium {
            margin: 10px 0px;
            padding: 4px 0px;
        }
    }
    .button {
        font-size: 1.3em !important;
        padding: 0px 45px !important;
    }
}

@media only screen and (max-width: 400px) {
    .header {
        &--big {
            font-size: 2.1em;
        }
        &--medium {
            font-size: 1.8em;
        }
    }
}