@import 'variables';
@import 'mixins';
@import '../utilities/utilities.scss';
@import '../components/top/top.scss';
@import '../components/main/main.scss';
@import '../components/footer/footer.scss';

body{
    background: #151d23;
    font-family: $headers-font
}
*{
    margin: 0px;
}
a {
    text-decoration: none
}

.header {
    font-family: $headers-font;
    font-weight: 400;
    color: $silver;
    background: $main-red;
    width: 100%;
    text-align: center;

    &--big {
        text-transform: uppercase;
        margin: 30px 0px;
        padding: 10px 0px;
        font-size: 3em;
    }
    &--medium {
        margin: 20px 0px;
        padding: 7px 0px;
        font-size: 2.3em;
    }
}
.button {
    padding: 0px 50px;
    background: $main-red;
    font-family: $content-font;
    font-weight: 100;
    font-size: 2em;
    color: white;
    border-radius: 40px;

    &:hover {
        background: $darker-red;
    }
}
.shadow {
    &-big {
        box-shadow: 0px 14px 10px 0px rgba(0,0,0,0.5);
    }
    &-medium {
        box-shadow: 0px 9px 7px 0px rgba(0,0,0,0.5);
    }
    &-small {
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5);
    }
}

// @media only screen and (min-width: 320px) and (max-width: 480px)  {
//     body {
//       background-color: dimgrey;
//     }
//   }
//   @media only screen and (min-width: 481px) and (max-width: 801px)  {
//     body {
//       background-color: darkcyan;
//     }
//   }
