@import 'variables';
@import 'mixins';
@import '../utilities/utilities.scss';
@import '../components/top/top.scss';
@import '../components/main/main.scss';
@import '../components/footer/footer.scss';

body{
    background: #151d23;
}
*{
    margin: 0px;
}
a {
    text-decoration: none
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    font-family: $headers-font;
    font-weight: 400;
    color: $silver;
    background: $main-red;
    width: 100%;
    text-align: center;

    &--big {
        text-transform: uppercase;
        margin: 30px 0px;
        padding: 10px 0px;
        font-size: 3em;
    }
    &--medium {
        margin: 20px 0px;
        padding: 7px 0px;
        font-size: 2.3em;
    }
}

.simple_header {
    font-family: $headers-font;
    color: $silver;
    font-size: 3.7em;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
    background-color: $main-red;
    width: 60%;
    align-self: center;

    @media (max-width: $phone) {
        font-size: 3em;
        width: 70%;
    }

    @media (max-width: $phone-small) {
        font-size: 2.4em;
        margin-bottom: 35px;
        width: 80%;
    }
}


.side_navigation {
    background: $darker-red;
    display: flex;
    align-self: flex-start;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 1.6em;
    font-family: $content-font;

    a {
        color: $silver;

        &:hover {
            text-decoration: underline;
        }

        &:last-of-type {
            text-decoration: underline;
            cursor: default;
        }

    }

    @media(max-width: $phone) {
        padding: 10px 15px;
        font-size: 1.2em;
    }

    @media(max-width: $phone-small) {
        padding: 10px 10px;
        font-size: 1em;
    }
}

.button {
    @include delete-border;
    padding: 0px 50px;
    background: $main-red;
    font-family: $content-font;
    font-weight: 100;
    font-size: 2em;
    color: white;
    border-radius: 40px;

    &:hover {
        background: $darker-red;
    }

    &--inactive {
        color: $darker-silver;
        color: black;
    }
}

.loading_gif {
    max-width: 600px;

    @media(min-width: 600px) {
        max-width: 80%;
    }
}

.youtube-video {
    .loading_gif {
        max-height: 400px;
    }
    @media(max-width: $tablet) and (min-width: $phone) {
        display: grid;
        .loading_gif {
            max-width: 50%;
            justify-self: center;
        }
    }

    @media(min-width: $tablet){
        display: grid;
        .loading_gif {
            justify-self: center;
        }
    }
}

.shadow {
    &-big {
        box-shadow: 0px 14px 10px 0px rgba(0,0,0,0.5);
    }
    &-medium {
        box-shadow: 0px 9px 7px 0px rgba(0,0,0,0.5);
    }
    &-small {
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5);
    }
    &-tiny {
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    }
}

@media only screen and (min-width: 2560px) {
    body {
        background: #273642;
        display: flex;
        justify-content: center
    }
    .App {
        width: 2560px;
        box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.5);
        background: #151d23;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        &--big {
            margin: 20px 0px;
            padding: 7px 0px;
            font-size: 2.6em;
        }
        &--medium {
            margin: 15px 0px;
            padding: 5px 0px;
            font-size: 2em;
        }
    }
}
@media only screen and (max-width: 600px) {
    .header {
        &--big {
            margin: 15px 0px;
            padding: 6px 0px;
            font-size: 2.4em;
        }
        &--medium {
            margin: 10px 0px;
            padding: 4px 0px;
        }
    }
    .button {
        font-size: 1.3em !important;
        padding: 0px 45px !important;
    }
}

@media only screen and (max-width: 400px) {
    .header {
        &--big {
            font-size: 2.1em;
        }
        &--medium {
            font-size: 1.8em;
        }
    }
}