$main-red: #942121;
$darker-red: #511616;
$silver: #CDCDCD;
$darker-silver: #C4C4C4;
$content-font: 'Athiti', sans-serif;
$headers-font: 'Lato', sans-serif;
$tablet: 1024px;
$phone: 600px;
$phone-small: 400px;