.informations {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-end;
    margin-top: 10%;
    svg {
        width: 65px;
        margin: 5px;
    }

}
.informations__social_media {
    display: flex;
}
.informations__buttons {
    &-big {
        width: 100%;
        .informations__link:first-child:hover{
            background: $darker-silver;
        }
    }
    &-small {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
}
.informations__link {
    background: $darker-silver;
    font-family: $content-font;
    font-weight: 400;
    font-size: 1.9em;
    border-radius: 10px;
    border-radius: 70px 0px 0px 70px;
    text-align: center;
    color: black;
    margin: 15px 0px;

    &--big {
        @include flex-center(row);
        font-weight: 600;
        font-size: 2.7em;
    }
    &:hover{
        background: #969696;
    }

}


@media only screen and (min-width: 1921px) {
    .informations__buttons {
        &-big {
            width: 70%;
        }
        &-small {
            width: 40%
        }
    }
}

@media only screen and (max-width: 1500px) {
    .informations {
        width: 23%;
        svg {
            width: 50px;
        }
    }
    .informations__link {
        &--big {
            font-size: 2.3em;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .informations {
        width: 100%;
        align-items: center;
        svg {
            width: 50px;
        }
    }
    .informations__buttons {
        &-big {
            @include flex-center(column, true)
        }
        &-small {
            @include flex-center(row);
            flex-wrap: wrap;
            width: 350px;
        }
    }
    .informations__link {
        border-radius: 70px;
        width: 150px;
        margin: 8px;
        &--big {
            width: 300px;
        }
    }
}
@media only screen and (max-width: 350px) {
    .informations {
        svg {
            width: 45px;
        }
    }
    .informations__buttons {
        &-big {
            @include flex-center(column, true)
        }
        &-small {
            width: 250px;
        }
    }
    .informations__link {   
        font-size: 1.6em;
        margin: 7px;
        width: 110px;
        &--big {
            font-size: 2.1em;
            width: 250px;
        }
    }
}