.slider{
    transition: left 0.1s linear;
    position: fixed;
    z-index: 1005;
    background: $main-red;
    height: 100%;
    width: 100%;
    text-align: center;

    &--left {
        left: -100%
    }
    &--right {
        left: 100%
    }
}
.slider__close {
    text-align: right;
    svg {
        fill: $silver;
        width: 75px;
        margin: 20px;
    }
}

.slider_ul {
    padding: 0px;
    list-style: none;
    @include flex-center(column);
    li {
        width: 65%;
        border-bottom: 5px solid $darker-red;
        &:first-child {
            border-top: 5px solid $darker-red;
        }
    }
    a {
        font-family: $content-font;
        font-size: 2.5em;
        color: $silver;
        text-decoration: none;
        padding: 0.2em;
        display: block;
        
    }
}

@media only screen and (max-width: 720px) {
    .slider_ul {
        li {
            width: 90%;
        }
    }
    .slider__close {
        svg {
            width: 60px;
        }
    }
  }